<ul>
    {% for node in branch.children %}
        <li>
            <a href="#">{{ node }}</a>
            {% if node.children|length > 0 %}
                {% include "SonataAdminBundle:CRUD:list_nested_set_branch.html.twig" with { 'branch': node } %}
            {% endif %}
        </li>
    {% endfor %}
</ul>